_exec_bash.sh
.idea/
.vscode/
vendor
glide.lock
*.DS_Store

# binary files
core/*.log
core/*.exe
core/edgex-vault-worker
pkisetup/pkisetup
parentHndl
core/res/secrets/vault-secrets
core/res/secrets/*.prv
core/res/secrets/*.pub
core/vaultmock
core/internal/secret/vaultmock
core/internal/secret/*.prv
core/internal/secret/*.pub
